sass/aplicaciones/*css
sass/aplicaciones/*map
sass/especificas/*css
sass/especificas/*map
sass/especificas/linguistica*css
sass/especificas/linguistica*map
sass/general/main.css
sass/general/main.map
sass/general/porcentaje.css
sass/general/porcentaje.map
node_modules