

    .rompecabeza{
        position: relative;

        &__zona, &__ficha{
            position: absolute;
            margin: 0;
            width: 100%;
            height: 100%;
        }

        &__zona{
            
            .zona{
                background: blue;
            }
        }

        &__ficha{
                
            .ficha{
                
            }
            
        }

        .zona, .ficha{
           
            position: absolute;
            user-select: none;
            img{
                user-select: contain;
            }
        }
    }
