
$color-decoracion: #17CCD7;
$color-btn: #FFFA7C;


h3{
    font-size: 18pt;
    color: $color-decoracion;
    margin-top: 10px;
}

input, select{
    border-radius: 5px;
    border: 2px solid $color-decoracion;
    width: 500px;
    height: 35px;
    padding: 5px 5px 5px 10px;
    
}

input{
    width: 20px;
}

.input-nombre, .input-edad{
    width: 500px; 
}



.titulo{
    font-size: 30pt;
    color: white;
}

.sexo, .mano{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
    color: white;
    border-radius: 5px;
    border: 2px solid $color-decoracion;
    height: 60px;
    
}

.mano{
    width: 330px;
}

.formulario{
    margin-top: 100px;
    .btn_siguiente:enabled {
        background: $color-btn;
        border: 1px solid $color-btn;
        color: black;
    }

    input[type=radio] {
        -webkit-transform: scale(2.5);
        transform: scale(1.7);
        margin: 0;
    }
}


