.resultado{
 //Aqui estoy haciendo los cambios pero no se visualizan
    &__cuadro{
        display: flex;
       
    }

    &__porcentaje{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        & .circulo{
            position: absolute;
            display: block;
        }
    }

    &__informacion{
        display: flex;
        flex-direction: column;
    }
    
}
       



//Un cambio cualquiera

