
.principal{
  border: 0;
}

*{
    font-family: 'Muli', sans-serif;
}


.titulo_resultados{
    font-family: 'Heebo', sans-serif;
    font-size: 48pt;
    color: white;
}

.resultado{
 
    //variables de color

    $color-ciencias-n: #63D1B7;
    $color-arte: #EF6BAA;
    $color-fuerzas-publicas: #FF7373;
    $color-educacion: #59C5D3;
    $color-deportes: #FDF441;
    $color-salud: #FFBF74;
    $color-diseno: #BA76F0;
    $color-ingenieria: #6883E4;


    &__cuadro{
        display: flex;
        border-radius: 17px;
        background: rgba(255, 255, 255, 0.322);
        padding: 25px;
        margin: 20px;

        
    }

    &__porcentaje{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-ciencias-n;
       

        & .circulo{
            position: absolute;
            display: block;
            margin-left: 20px;
        }

        & .icono{
            margin-left: 40px;  
        }
    }

    &__informacion{
        display: flex;
        flex-direction: column;
        margin-left: 60px;
        
        
        h2{
            color: white;           
            font-style: bold;
            text-align: center;
            
        }

        h3{
           font-size: 200%;
            font-style: bold;
            color: $color-fuerzas-publicas;
        }
    

        }
    
}
       



//Un cambio cualquiera

