.resultado{
 
    //variables de color

    $color-ciencias-n: #63D1B7;
    $color-arte: #EF6BAA;
    $color-fuerzas-publicas: #FF7373;
    $color-educacion: #59C5D3;
    $color-deportes: #FDF441;
    $color-salud: #FFBF74;
    $color-diseno: #BA76F0;
    $color-ingenieria: #6883E4;
    

    &__cuadro{
        display: flex;
        
    }

    &__porcentaje{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
       

        & .circulo{
            position: absolute;
            display: block;
        }
    }

    &__informacion{
        display: flex;
        flex-direction: column;
        color: blue;
    }
    
}
       



//Un cambio cualquiera

