#pintura__casilla1 {
    position: absolute;
    display: block;
    width: 114px;
    height: 115px;
    top: 166px;
    left: 178px;
}

.ppintura .pregunta__opciones {
    flex-direction: column;
    width: 500px;
    height: 500px;
}

.ima__opcion {
    width: 114px;
    height: 115px;
}

.ppintura .contenido-pintura {
    margin-top: 100px;
    display: flex;
    padding: 0;
}

.ppintura .contenido-pintura h2 {
    margin: 30px;
    text-align: center;
}

.ppintura .pregunta__opciones>div {
    flex-wrap: wrap;
    padding: 30px;
}

.ppintura .pregunta__opciones>div img {
    margin-top: 40px;
    margin-left: 40px;
}